body{
    background: #141c39;
}

.left-container,.right-container{
    height: 90vh;
}

.left-container{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.row>.link{
    text-decoration: none;
    font-size: 18px;
    color: black;
}

.row>.link:hover{
    background-color: #27b095d9;
    color: white;
    border-radius: 0 8px 8px 0;
}

#sidebar a.active {
    background-color: #27b095d9;
    color: white;
    border-left: rgb(14, 138, 160) 6px inset;
    border-radius: 0 8px 8px 0;
  }
  
